# TITLE #
#### Katie Liang and Madilyn Portas ####
***

### INTRODUCTION ###
insert intro text here
***

### PRELIMINARY DATA ANALYSIS ###

In [51]:
# libraries
library(tidyverse)
library(tidymodels)

In [56]:
# load data
url <- "https://raw.githubusercontent.com/madiportas/dsci-100_group_project/main/HTRU_2.csv"
pulsar_raw <- read.csv(url)

# wrangle data 
# remove uneeded columns
pulsar <- pulsar_raw |>
    select(integrated_profile_mean, DM.SNR_curve_mean, class)

# split data 
set.seed(1)
pulsar_split <- pulsar |> 
    initial_split(0.75, strata = class)
pulsar_train <- training(pulsar_split)
pulsar_test <- testing(pulsar_split)
head(pulsar_train)

  integrated_profile_mean DM.SNR_curve_mean class
2 102.50781               1.6772575         0
3 103.01562               3.1212375         0
4 136.75000               3.6429766         0
6  93.57031               1.6362876         0
7 119.48438               0.9991639         0
8 130.38281               1.2207358         0

In [58]:
# summarize data 
summmary <- group_by(pulsar_train, class) |>
    summarize(
        mean_integrated_profile = mean(integrated_profile_mean),
        max_integrated_profile = max(integrated_profile_mean), 
        min_integrated_profile = min(integrated_profile_mean), 
        mean_DM.SNR_curve = mean(DM.SNR_curve_mean),
        max_DM.SNR_curve = max(DM.SNR_curve_mean), 
        min_DM.SNR_curve = min(DM.SNR_curve_mean))
summary

  class mean_integrated_profile_mean max_integrated_profile_mean
1 0     116.6413                     192.6172
2 1      56.2505                     139.2578
  min_integrated_profile_mean mean_DM.SNR_curve_mean max_DM.SNR_curve_mean
1 17.21094                     9.066603              222.4214
2  5.81250                    50.169655              184.5259
  min_DM.SNR_curve_mean
1 0.2132107
2 0.6789298

In [5]:
# visualize data
# insert visualize code

***

### METHODS ###
insert methods text here
***

### EXPECTED OUTCOMES AND SIGNIFICANCE ###
insert outcomes and significance text here
***

### CITATIONS ###
Lyon, Robert. (2017). HTRU2. UCI Machine Learning Repository. https://doi.org/10.24432/C5DK6R.

R. J. Lyon, B. W. Stappers, S. Cooper, J. M. Brooke, J. D. Knowles, Fifty Years of Pulsar
	Candidate Selection: From simple filters to a new principled real-time classification approach
	MNRAS, 2016.
***